@model MatchListViewModel
@using FG12.Models
@{
    ViewBag.Title = "Gruppespill";
}
<h3>Gruppespill</h3>
<div style="display: inline-block; width: 810px;">
    @foreach (var group in (List<IEnumerable<Team>>) ViewBag.Groups) {
        @Html.Partial("_Group", group)
    }
</div>

@Html.Partial("_Matchlists", Model)