@model MatchListViewModel
@using FG12.Models
@{
    ViewBag.Title = "Middle stage";
}

@if (!(bool)ViewBag.IsActivated && Request.IsAuthenticated)
{
    @Html.ActionLink("Generer mellomspillgrupper", "GenerateMiddleMatchGroups", "MatchMiddleStage")
}

<h3>Mellomspill</h3>

<div style="display: inline-block; width: 800px;">
    @foreach (var group in (List<IEnumerable<Team>>)ViewBag.Groups) {
        <div class="span3" style="margin: 2px;">
            @Html.Partial("_GroupMiddleStage", group)
        </div>
    }
</div>

@Html.Partial("_Matchlists", Model)